@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    width: 100%;
    position: relative;
}
#root{
    overflow: hidden;
    position: relative;
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 10px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}